ail-typo-squatting==2.7.4
aiodns==3.2.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.9
aiohttp_socks==0.9.0
aiosignal==1.3.1
aniso8601==9.0.1
annotated-types==0.7.0
appdirs==1.4.4
APScheduler==3.9.1
argos-translate-files==1.1.4
argostranslate==1.9.6
asciimatics==1.15.0
async-timeout==4.0.3
attrs==24.2.0
Automat==24.8.1
babel==2.16.0
bcrypt==4.2.0
beautifulsoup4
blinker==1.8.2
Brotli==1.1.0
cachelib==0.13.0
cchardet==2.1.7
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==7.1.2
cmake==3.30.5
colorama==0.4.6
commonmark==0.9.1
ConfigArgParse==1.7
constantly==23.10.4
contourpy==1.3.0
coverage==7.6.1
crcmod==1.7
cryptg==0.4.0
cryptography==43.0.1
cssselect==1.2.0
ctranslate2==4.4.0
cycler==0.12.1
Cython==3.0.11
d4-pyclient==0.1.7
dataclasses==0.6
dateparser==1.2.0
defang==0.5.3
defusedxml==0.7.1
demoji @ git+https://github.com/ail-project/demoji@66165c71e26bb647fe4c7caa5f9063ed02807f18
Deprecated==1.2.14
dnspython==2.6.1
DomainClassifier==0.7
easyocr==1.7.2
elastic-transport==8.15.1
elasticsearch==8.15.1
expiringdict==1.2.2
export==0.2.1
fake-useragent==1.5.1
feedfinder2==0.0.4
feedparser==6.0.11
filelock==3.16.1
Flask==1.1.4
#flask-babel==3.1.0
#Flask-Limiter==2.0.4
#Flask-Login==0.6.2
#flask-restx==1.1.0
#Flask-Session==0.4.0
#flask-swagger==0.2.13
#flask-swagger-ui==3.52.5
fonttools==4.54.1
frozenlist==1.4.1
fsspec==2024.9.0
future==1.0.0
gcld3==3.0.13
geographiclib==2.0
geopy==2.4.1
googletransx==2.4.2
greenlet==3.0.3
gunicorn==23.0.0
hiredis==3.0.0
html2text==2024.2.26
hyperlink==21.0.0
idna==3.10
imageio==2.35.1
importlib_resources==6.4.5
incremental==24.7.2
inflect==5.6.2
IPy==1.1
itemadapter==0.9.0
itemloaders==1.3.2
itsdangerous==1.1.0
jieba3k==0.35.1
#Jinja2==2.11.3
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.7
-e git+https://github.com/ail-project/lacus.git@f2e3a46244e2a45e0367d01c43464663c46aa15f#egg=lacus
lacuscore==1.11.0
langdetect==1.0.9
langid @ https://github.com/saffsd/langid.py/archive/master.zip#sha256=d7babe93e35bce2f203b6cd6dbcc3fd7627424d671da1f13aa0efb653d83e001
lazy_loader==0.4
Levenshtein==0.26.0
LexiLang==1.0.1
libretranslatepy==2.1.4
limits==3.13.0
lit==18.1.8
Logbook==1.7.0.post0
lxml==5.3.0
lxml_html_clean==0.3.1
markdown-it-py==3.0.0
MarkupSafe==1.1.1
matplotlib==3.9.2
mdurl==0.1.2
mmh3==5.0.1
Morfessor==2.0.6
mpmath==1.3.0
multidict==6.1.0
networkx==3.3
newspaper3k==0.2.8
ninja==1.11.1.1
nltk==3.9.1
nose==1.3.7
nose2==0.15.1
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.77
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
opencv-python-headless==4.10.0.84
packaging==24.1
pandas==2.2.3
parsel==1.9.1
phonenumbers==8.13.47
pillow==10.4.0
platformdirs==4.3.6
playwright==1.47.0
playwright-stealth==1.0.6
PlaywrightCapture==1.26.0
polib==1.1.1
prometheus-client==0.15.0
Protego==0.3.1
protobuf==5.28.2
psutil==6.0.0
publicsuffixlist==1.0.2.20241003
pubsublogger==1.2.7
puremagic==1.28
pyaes==1.6.1
pyail==0.0.8
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybgpranking2==2.0.2
pycares==4.4.0
pycld3==0.22
pyclipper==1.3.0.post5
pycountry==24.6.1
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
PyDispatcher==2.0.7
pydub==0.25.1
pyee==12.0.0
pyfaup==1.2
pyfiglet==1.0.2
Pygments==2.18.0
pyipasnhistory==2.1.2
pylacus==1.10.0
pylibinjection==0.2.4
pymisp==2.5.0
pymispgalaxies @ git+https://github.com/MISP/PyMISPGalaxies@52d1c4a775cc06e46b0055cbd415d00368ab9ae2
pyOpenSSL==24.2.1
pyotp==2.9.0
pyparsing==3.1.4
PySocks==1.7.1
pytaxonomies @ git+https://github.com/MISP/PyTaxonomies@066690e7401203650ead748ea1a221be7967f9d6
python-bidi==0.6.0
python-dateutil==2.9.0.post0
python-Levenshtein==0.26.0
python-magic==0.4.27
python-socks==2.5.3
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
queuelib==1.7.0
RapidFuzz==3.10.0
redis==5.1.1
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-file==2.1.0
retrie==0.2.4
rich==13.9.2
rpds-py==0.20.0
rsa==4.9
sacremoses==0.0.53
schedule==1.2.2
scikit-image==0.24.0
scipy==1.14.1
Scrapy==2.11.2
scrapy-splash==0.9.0
segno==1.6.1
sentencepiece==0.2.0
service-identity==24.1.0
setproctitle==1.3.3
sgmllib3k==1.0.0
shapely==2.0.6
simplejson==3.19.3
six==1.16.0
soupsieve==2.6
SpeechRecognition==3.10.4
ssdeep==3.4
stanza==1.1.1
sympy==1.13.3
Telethon==1.37.0
textblob==0.18.0.post0
thehive4py==1.8.1
tifffile==2024.9.20
tinysegmenter==0.3
tldextract==5.1.2
#tlsh==4.5.0
tomli==2.0.1
torch==2.4.1
torchvision==0.19.1
tqdm==4.66.5
translatehtml==1.5.2
triton==3.0.0
Twisted==24.7.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
ua-parser==0.18.0
uritools==4.0.3
urlextract==1.9.0
urllib3==2.2.3
validators==0.34.0
w3lib==2.2.1
waitress==2.1.2
wcwidth==0.2.13
websockets==13.1
Werkzeug==1.0.1
Whoosh==2.7.4
wrapt==1.16.0
xxhash==3.5.0
yara-python==4.5.1
yarl==1.13.1
zmq==0.0.0
zope.interface==7.0.3
